<div class="row">
    <div class="col-md-8 col-md-offset-2">
        {{# each users}}
        <h1>{{this.email}}</h1>
        {{/each}}
        <hr>
        <h2>My Orders</h2>
        {{# each orders}}
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-group">
                    {{# each this.items }}
                        <li class="list-group-item">
                            <span class="badge">{{ number this.price }} ກີບ</span>
                            <img src="{{ this.item.imagePath }}" alt="..." class="img-responsive"> 
                            {{ this.item.title }} | {{ this.qty }} Units
                        </li>
                    {{/each}}
                </ul>
            </div>
            <div class="panel-footer"><strong>{{ number this.cart.totalPrice }} ກີບ</strong></div>
        </div>
        {{/each}}
    </div>
</div>

